// Importar funciones y variables de Bootstrao necesarias antes de importar todo
@import "../bootstrap/functions";
@import "../bootstrap/variables";

$theme-colors: map-merge($theme-colors, (
    "pale-blue":hsl(225, 100%, 94%),
    "bright-blue":hsl(245, 75%, 52%),
    "very-pale-blue":hsl(225, 100%, 98%),
    "desaturated-blue":hsl(224, 23%, 55%),
    "dark-blue":hsl(223, 47%, 23%)
));

//Importar el resto de bootstrap
@import "../bootstrap/bootstrap.scss";

@mixin placeholderStyle{
    position: absolute;
    background-color: white;
    padding: 0 20px;
};
    

*{
    font-family: "Red Hat Display", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box
};

 .placeholder {
    left: 115px;
    top: 18px;
    @include placeholderStyle()
  }

  .placeholder2{
    left: 350px;
    top: 15px;
    @include placeholderStyle()
  }
